/* In src/index.css */
@import "tailwindcss";

:root {
  font-family: 'Poppins', sans-serif;
  background: #000;
  color: whitesmoke;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-on-scroll {
  view-timeline-name: --reveal;
  animation: slideIn linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
  animation-fill-mode: both;
}

.fade-in {
  view-timeline-name: --fade;
  animation: fadeIn linear;
  animation-timeline: view();
  animation-range: entry 25% cover 50%;
  animation-fill-mode: both;
}